@layer base {
  * {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }
  html, body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
